Repository LemonKaiser/Heretek, pull requests merged in 2025-02, with the labels that each got.

#16 tests for draft
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/conflict-labeler.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: Changes: YML, Changes: Workflow

#17 EndRoundSounds
  Resources/Audio/_WH40K/Announcements/RoundEnd/endraund1.ogg
  Resources/Audio/_WH40K/Announcements/RoundEnd/endraund10.ogg
  Resources/Audio/_WH40K/Announcements/RoundEnd/endraund11.ogg
  Resources/Audio/_WH40K/Announcements/RoundEnd/endraund2.ogg
  Resources/Audio/_WH40K/Announcements/RoundEnd/endraund3.ogg
  Resources/Audio/_WH40K/Announcements/RoundEnd/endraund4.ogg
  Resources/Audio/_WH40K/Announcements/RoundEnd/endraund5.ogg
  Resources/Audio/_WH40K/Announcements/RoundEnd/endraund6.ogg
  Resources/Audio/_WH40K/Announcements/RoundEnd/endraund7.ogg
  Resources/Audio/_WH40K/Announcements/RoundEnd/endraund8.ogg
  Resources/Audio/_WH40K/Announcements/RoundEnd/endraund9.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Changes: Audio, Changes: YML

#19 Багофиксы
  Resources/Audio/_WH40K/Weapons/Guns/Gunshorts/meltagun.mp3
  Resources/Audio/_WH40K/Weapons/Guns/Gunshots/equip.wav
  Resources/Audio/_WH40K/Weapons/Guns/Gunshots/lasgunpew.ogg
  Resources/Audio/_WH40K/Weapons/Guns/Gunshots/meltagun.ogg
  Resources/Audio/_WH40K/Weapons/Guns/Gunshots/plasmagun.wav
  Resources/Audio/_WH40K/Weapons/Guns/Gunshots/plasmapist.wav
  Resources/Prototypes/_WH40K/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Head/hardsuit-helmet.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Uniform/jumpsuits.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Specific/Medical/syrgun.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Guns/battery_guns.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Melee/hammer.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_WH40K/tags.yml
  Resources/Textures/_WH40K/Objects/Weapons/Melee/hammer_imperial.rsi/equipped-BACKPACK.png
  Resources/Textures/_WH40K/Objects/Weapons/Melee/hammer_imperial.rsi/icon.png
  Resources/Textures/_WH40K/Objects/Weapons/Melee/hammer_imperial.rsi/inhand-left.png
  Resources/Textures/_WH40K/Objects/Weapons/Melee/hammer_imperial.rsi/inhand-right.png
  Resources/Textures/_WH40K/Objects/Weapons/Melee/hammer_imperial.rsi/meta.json
  Resources/Textures/_WH40K/Objects/Weapons/Melee/hammer_imperial.rsi/wielded-inhand-left.png
  Resources/Textures/_WH40K/Objects/Weapons/Melee/hammer_imperial.rsi/wielded-inhand-right.png
Labels: Changes: Audio, Changes: Sprite, Changes: YML

#20 Ещё кучка фиксов
  Resources/Prototypes/_WH40K/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Guns/battery_guns.yml
Labels: Changes: YML

#21 Исправления + Комиссарский комплект
  Resources/Prototypes/DeltaV/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Uniform/jumpsuits.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Specific/Medical/syrgun.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Melee/hammer.yml
  Resources/Textures/_WH40K/Clothing/Hands/Gloves/commissar.rsi/equipped-HAND.png
  Resources/Textures/_WH40K/Clothing/Hands/Gloves/commissar.rsi/icon.png
  Resources/Textures/_WH40K/Clothing/Hands/Gloves/commissar.rsi/inhand-left.png
  Resources/Textures/_WH40K/Clothing/Hands/Gloves/commissar.rsi/inhand-right.png
  Resources/Textures/_WH40K/Clothing/Hands/Gloves/commissar.rsi/meta.json
  Resources/Textures/_WH40K/Clothing/Head/Hats/commissar.rsi/equipped-HELMET.png
  Resources/Textures/_WH40K/Clothing/Head/Hats/commissar.rsi/icon.png
  Resources/Textures/_WH40K/Clothing/Head/Hats/commissar.rsi/inhand-left.png
  Resources/Textures/_WH40K/Clothing/Head/Hats/commissar.rsi/inhand-right.png
  Resources/Textures/_WH40K/Clothing/Head/Hats/commissar.rsi/meta.json
  Resources/Textures/_WH40K/Clothing/OuterClothing/Armor/commissar.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_WH40K/Clothing/OuterClothing/Armor/commissar.rsi/icon.png
  Resources/Textures/_WH40K/Clothing/OuterClothing/Armor/commissar.rsi/inhand-left.png
  Resources/Textures/_WH40K/Clothing/OuterClothing/Armor/commissar.rsi/inhand-right.png
  Resources/Textures/_WH40K/Clothing/OuterClothing/Armor/commissar.rsi/meta.json
  Resources/Textures/_WH40K/Clothing/Shoes/Boots/commissar.rsi/equipped-FEET.png
  Resources/Textures/_WH40K/Clothing/Shoes/Boots/commissar.rsi/icon.png
  Resources/Textures/_WH40K/Clothing/Shoes/Boots/commissar.rsi/inhand-left.png
  Resources/Textures/_WH40K/Clothing/Shoes/Boots/commissar.rsi/inhand-right.png
  Resources/Textures/_WH40K/Clothing/Shoes/Boots/commissar.rsi/meta.json
  Resources/Textures/_WH40K/Clothing/Uniforms/Jumpsuit/commissar.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_WH40K/Clothing/Uniforms/Jumpsuit/commissar.rsi/icon.png
  Resources/Textures/_WH40K/Clothing/Uniforms/Jumpsuit/commissar.rsi/inhand-left.png
  Resources/Textures/_WH40K/Clothing/Uniforms/Jumpsuit/commissar.rsi/inhand-right.png
  Resources/Textures/_WH40K/Clothing/Uniforms/Jumpsuit/commissar.rsi/meta.json
  Resources/Textures/_WH40K/Objects/Specific/Medical/advsyringegun.rsi/meta.json
  Resources/Textures/_WH40K/Objects/Specific/Medical/syringegun.rsi/meta.json
Labels: Changes: Sprite, Changes: YML

#22 Фикс формы комиссара + отключение рас
  Resources/Prototypes/DeltaV/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/plasmaman.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Uniform/jumpsuits.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Melee/hammer.yml
Labels: Changes: YML

#23 Боевые кличи
  Resources/Audio/_WH40K/Voices/Battlecry/fem1.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/fem2.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/fem3.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/fem4.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/fem5.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/fem6.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/fem7.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/fem8.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/fem9.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male1.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male10.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male11.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male12.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male13.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male14.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male15.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male16.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male17.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male18.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male19.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male2.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male20.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male21.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male22.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male23.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male24.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male25.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male26.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male27.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male28.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male29.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male3.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male30.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male31.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male4.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male5.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male6.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male7.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male8.ogg
  Resources/Audio/_WH40K/Voices/Battlecry/male9.ogg
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_WH40K/Voice/battlecry.yml
Labels: Changes: Audio, Changes: YML

#24 Болтеры, фикс размера плазма-пистолета и тег для ножен.
  Resources/Audio/_WH40K/Weapons/Guns/Gunshots/bolter.ogg
  Resources/Audio/_WH40K/Weapons/Guns/Gunshots/bolterpistol.ogg
  Resources/Prototypes/DeltaV/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_WH40K/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Specific/Medical/syrgun.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/bolter.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Guns/Ammunition/Magazines/bolter.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Guns/Bolters/bolters.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_WH40K/Entities/Objects/Weapons/Guns/battery_guns.yml
  Resources/Prototypes/_WH40K/tags.yml
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Ammonition/Magazine/Bolter/bolter.rsi/base.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Ammonition/Magazine/Bolter/bolter.rsi/meta.json
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Ammonition/Magazine/Bolter/pistol.rsi/base.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Ammonition/Magazine/Bolter/pistol.rsi/meta.json
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/bolter.rsi/base.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/bolter.rsi/bolt-open.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/bolter.rsi/equipped-BACKPACK.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/bolter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/bolter.rsi/icon.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/bolter.rsi/inhand-left.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/bolter.rsi/inhand-right.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/bolter.rsi/mag-0.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/bolter.rsi/meta.json
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/bolter.rsi/wielded-inhand-left.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/bolter.rsi/wielded-inhand-right.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/pistol.rsi/base.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/pistol.rsi/bolt-open.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/pistol.rsi/icon.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/pistol.rsi/inhand-left.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/pistol.rsi/inhand-right.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/pistol.rsi/mag-0.png
  Resources/Textures/_WH40K/Objects/Weapons/Guns/Bolters/pistol.rsi/meta.json
Labels: Changes: Audio, Changes: Sprite, Changes: YML
