Repository LemonKaiser/Heretek, pull requests merged in 2025-05, with the labels that each got.

#43 mashines & closets
  Content.Client/Doors/DoorSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/disk.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/techdiskterminal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/research.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/techdiskterminal.yml
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base_structurelockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/closets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/reverseEngineering.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/Legio_Cybernetica_Kastellan.webp
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/robotics.webp
  Resources/Textures/LobbyScreens/robotics.webp.yml
  Resources/Textures/LobbyScreens/supermatter.webp
  Resources/Textures/LobbyScreens/supermatter.webp.yml
  Resources/Textures/LobbyScreens/susstation.webp
  Resources/Textures/LobbyScreens/susstation.webp.yml
  Resources/Textures/NES/Structures/Storage/closet.rsi/bartender.png
  Resources/Textures/NES/Structures/Storage/closet.rsi/bartender_door.png
  Resources/Textures/NES/Structures/Storage/closet.rsi/bartender_open.png
  Resources/Textures/NES/Structures/Storage/closet.rsi/jan.png
  Resources/Textures/NES/Structures/Storage/closet.rsi/jan_door.png
  Resources/Textures/NES/Structures/Storage/closet.rsi/jan_open.png
  Resources/Textures/NES/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/NES/Structures/Storage/closet.rsi/rad.png
  Resources/Textures/NES/Structures/Storage/closet.rsi/rad_door.png
  Resources/Textures/NES/Structures/Storage/closet.rsi/rad_open.png
  Resources/Textures/NES/Structures/Storage/closet.rsi/syndicate1.png
  Resources/Textures/NES/Structures/Storage/closet.rsi/syndicate1_door.png
  Resources/Textures/NES/Structures/Storage/closet.rsi/syndicate1_open.png
  Resources/Textures/_WH40K/Structures/Machines/admech_modular_computer.rsi/meta.json
  Resources/Textures/_WH40K/Structures/Machines/modular_computer.rsi/meta.json
  Resources/Textures/_WH40K/Structures/Machines/reverse_engineering.rsi/closed.png
  Resources/Textures/_WH40K/Structures/Machines/reverse_engineering.rsi/meta.json
  Resources/Textures/_WH40K/Structures/Machines/reverse_engineering.rsi/open.png
  Resources/Textures/_WH40K/Structures/Machines/reverse_engineering.rsi/unlit.png
  Resources/Textures/_WH40K/Structures/Machines/server.rsi/candle.png
  Resources/Textures/_WH40K/Structures/Machines/server.rsi/inserting.png
  Resources/Textures/_WH40K/Structures/Machines/server.rsi/meta.json
  Resources/Textures/_WH40K/Structures/Machines/server.rsi/server.png
  Resources/Textures/_WH40K/Structures/Machines/server.rsi/server_o.png
  Resources/Textures/_WH40K/Structures/Machines/server.rsi/variant-research.png
  Resources/Textures/_WH40K/Structures/Machines/tech_disk_printer.rsi/display.png
  Resources/Textures/_WH40K/Structures/Machines/tech_disk_printer.rsi/icon.png
  Resources/Textures/_WH40K/Structures/Machines/tech_disk_printer.rsi/meta.json
  Resources/Textures/_WH40K/Structures/Machines/tech_disk_printer.rsi/printing.png
  Resources/Textures/_WH40K/Structures/Machines/tech_disk_printer.rsi/unshaded.png
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: YML

#47 add deathgasp sound
  Content.Server/Mobs/DeathgaspComponent.cs
  Content.Server/Mobs/DeathgaspSystem.cs
  Resources/Audio/_WH40K/Voice/Deathgasp/commmissar_die_1.ogg
  Resources/Audio/_WH40K/Voice/Deathgasp/commmissar_die_3.ogg
  Resources/Audio/_WH40K/Voice/Deathgasp/commmissar_die_4.ogg
  Resources/Audio/_WH40K/Voice/Deathgasp/guard_die_1.ogg
  Resources/Audio/_WH40K/Voice/Deathgasp/guard_die_4.ogg
  Resources/Audio/_WH40K/Voice/Deathgasp/guard_die_6.ogg
  Resources/Audio/_WH40K/Voice/Deathgasp/sturnn_die_1.ogg
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_WH40K/SoundCollections/deathgasp.yml
Labels: Changes: Audio, Changes: C#, Changes: YML

#50 2 little resprite
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Objects/Specific/Medical/healthanalyzer.rsi/analyzer.png
  Resources/Textures/Objects/Specific/Medical/healthanalyzer.rsi/icon.png
  Resources/Textures/Objects/Specific/Medical/healthanalyzer.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/medivend.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/medivend.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/medivend.rsi/off.png
Labels: Changes: Sprite, Changes: YML
